@page "/Adults"

@inject FileContext FileContext;
@inject NotificationManager NotificationManager;


@attribute [Authorize]

<div class="adults-main">
    <div class="adults">
        <div class="adults-title">
            Adults
        </div>
        <form class="adult-form">
            <div class="adult-form-fields">
                <div class="form-section">
                    <div class="form-group">
                        <label class="label" for="fname">First name</label>
                        <input class="input" type="text" id="fname" name="fname" placeholder="first name..."
                               @bind-value="@fname">
                    </div>
                    <div class="form-group">
                        <label class="label" for="lname">Last name</label>
                        <input class="input" type="text" id="lname" name="lname" placeholder="last name..."
                               @bind-value="@lname">
                    </div>
                    <div class="form-group">
                        <label class="label" for="age">Age</label>
                        <input class="input" type="number" id="age" name="age" placeholder="age..." @bind-value="@age">
                    </div>
                    <div class="form-group">
                        <label class="label" for="sex">Sex</label>
                        <!-- Unfortunately, the option tags cannot be edited via css, as they are handled by 
                        the os of the browser they're running on -->
                        <select class="input" style="width: 212px; height: 34px;" @bind="@sex">
                            <option value="">
                                Select sex
                            </option>
                            <option value="M">
                                M
                            </option>
                            <option value="F">
                                F
                            </option>
                        </select>
                        @* <input class="input" type="text" id="sex" name="sex" placeholder="sex..." @bind-value="@sex"> *@
                    </div>
                </div>
                <div class="form-section">
                    <div class="form-group">
                        <label class="label" for="hair-color">Hair color</label>
                        <input class="input" type="text" id="hair-color" name="hair-color" placeholder="hair color..."
                               @bind-value="@hairColor">
                    </div>
                    <div class="form-group">
                        <label class="label" for="eye-color">Eye color</label>
                        <input class="input" type="text" id="eye-color" name="eye-color" placeholder="eye color..."
                               @bind-value="@eyeColor">
                    </div>
                    <div class="form-group">
                        <label class="label" for="height">Height</label>
                        <input class="input" type="text" id="height" name="height" placeholder="height..."
                               @bind-value="@height">
                    </div>
                    <div class="form-group">
                        <label class="label" for="weight">Weight</label>
                        <input class="input" type="text" id="weight" name="weight" placeholder="weight..."
                               @bind-value="@weight">
                    </div>
                </div>
                <div class="form-section">
                    <div class="form-group">
                        <label class="label" for="job">Job</label>
                        <input class="input" type="text" id="job" name="job" placeholder="job..." @bind-value="@job">
                    </div>
                    <div class="form-group">
                        <label class="label" for="salary">Salary</label>
                        <input class="input" type="text" id="salary" name="salary" placeholder="salary..."
                               @bind-value="@salary">
                    </div>
                    <div class="form-group">
                        <label class="label" for="street">Street name</label>
                        <input class="input" type="text" id="street" name="street" placeholder="street name..." @bind-value="@street">
                    </div>
                    <div class="form-group">
                        <label class="label" for="house-nr">House nr</label>
                        <input class="input" type="number" id="house-nr" name="house-nr" placeholder="house nr..."
                               @bind-value="@houseNr">
                    </div>
                </div>
            </div>
            <button @onclick="Submit" @onclick:preventDefault="true">Submit</button>
        </form>
    </div>
</div>


@code{
    private string fname;
    private string lname;
    private string age;
    private string hairColor;
    private string eyeColor;
    private string weight;
    private string height;
    private string sex;
    private string job;
    private string salary;
    private string street;
    private string houseNr;
    public void Submit()
    {
        var Adult = new Adult();
        Adult.FirstName = fname;
        Adult.LastName = lname;
        Adult.HairColor = hairColor;
        Adult.EyeColor = eyeColor;
        Adult.Age = Int32.Parse(age);
        Adult.Weight = float.Parse(weight);
        Adult.Height = Int32.Parse(height);
        Adult.Sex = sex;
        var Job = new Job();
        Job.JobTitle = job;
        Job.Salary = Int32.Parse(salary);
        Adult.JobTitle = Job;

        System.Console.WriteLine(Adult.ToString());

        var id = FileContext.Adults.Last<Adult>().Id;
        //Will later implement a list of just adults, for now i will use the list of families directly.

        var Family = new Family(){
            StreetName = street,
            HouseNumber = Int32.Parse(houseNr)
        };

        Family.Adults.Add(Adult);

        Adult.Id = id + 1;
        FileContext.Adults.Add(Adult);
        FileContext.Families.Add(Family);
        //ValidateFamily(Family);
        

        
        Notify(Adult);
        Clear();
    }

    private async void Notify(Adult Adult){
        var content = "Successfully added " + Adult.FirstName + " " + Adult.LastName + " to the list";
        var title = "Operation finished successfully";
        await NotificationManager.Show(title, content, NotificationType.Success);
    }

    private void ValidateFamily(Family family){
        var families = FileContext.Families;
        //if a family with this name already exists, add the adult there, otherwise make it's own family
        foreach(var fam in families){
            if(fam.Adults[0].FirstName.Equals(family.Adults[0].LastName)){
                fam.Adults.Add(family.Adults[0]);
            } else{
                FileContext.Families.Add(family);
            }
        }
        FileContext.SaveChanges();
    }

    private void Clear()
    {
        fname = "";
        lname = "";
        age = "";
        sex = "";
        hairColor = "";
        eyeColor = "";
        height = "";
        weight = "";
        job = "";
        salary = "";
        street = "";
        houseNr = "";
    }

}